/*
 * Filename:         gpme.css
 * More info, see:   gpme.js
 *
 * Web:              http://huyz.zh/google-plus-me/
 * Source:           https://github.com/huyz/google-plus-me
 * Author:           Huy Z  http://huyz.zh/
 */


/*
 * The entire post item
 */

.gpme-folded.tf {
  padding-bottom: 0;
}

/* Selected post; needs to be highly selective */
.gpme-folded.tf.Lj {
  border-bottom: none; /* This also shortens the left blue border */
  margin-bottom: 5px; /* 1 more than margin-bottm of ".gpme-titlebar > div" to replace deleted border */
}

/*
 * Common to titlebar and commentbar
 */

.gpme-fold-icon {
  float: left;
  font-size: 10px;
  line-height: 22px;
  color: #CCCCCC;
}
.gpme-title-folded .gpme-fold-icon,
.gpme-comments-title-folded .gpme-fold-icon { /* We don't that to apply to side commentbar */
  margin: 0 5px 0 3px;
}

/*
 * The titlebar
 */

.gpme-titlebar {
  margin: -16px -21px 4px -21px; /* Break out of the paddings */
}

/* Muted post */
.vp .gpme-titlebar {
  margin: 0;
  display: none;
}
.vp .pE { /* Item guts for muted post */
  margin-bottom: 5px;
}

.gpme-title-unfolded {
  height: 14px;
}
.gpme-title-folded {
  margin-top: 2px;
  padding: 0 4px; /* Must match gpme-comment-count-bg's right */
  position: relative;
}

.gpme-folded .gpme-title-unfolded {
  display: none
}
.gpme-unfolded .gpme-title-folded {
  display: none;
}

.j-e-Pa:hover /* Like Feedback button */ {
  cursor: pointer;
}
.j-e-Pa:hover /* Like Feedback button */ .gpme-fold-icon {
  color: #333333;
}

/*
 * Inside unfolded title bar
 */

.gpme-fold-icon.gpme-fold-icon-unfolded-left {
  padding: 0 6px;
  margin-top: -4px;
  float: left;
}
.gpme-fold-icon.gpme-fold-icon-unfolded-right {
  padding: 0 7px;
  margin-top: -4px;
  float: right;
}
.gpme-folded .gpme-fold-icon-unfolded-left {
  display: none;
}
.gpme-folded .gpme-fold-icon-unfolded-right {
  display: none;
}

/*
 * Title: inside folded title bar
 */

.gpme-title-folded > div /* .gZgCtb */ {
  white-space: nowrap;
  line-height: 22px;
  /* Copied from .gZgCtb, so that it works for Start G+ as well */
  overflow: hidden;
  text-overflow: ellipsis;
}

.gpme-title-folded img {
  height: 20px; 
  float: none; /* User photos must be inline, not floating */
  vertical-align: -27%; /* so it doesn't shift the text down */
} 
/* User photos */
.gpme-title-folded .gpme-title-sender img {
  width: 20px;
  margin: 0 5px 0 0;
} 
/* Other images */
.gpme-title-thumbnails {
  float: right;
  margin-right: 7px;
}
.gpme-title-thumbnails > img {
  margin: 0 0 0 5px;
  max-width: 60px;
  opacity: 0.5;
} 


/* Injected mobile/checkin icons */
div.gpme-title-folded .gpme-title-icons { /* "span" coz need to be more specific than G+ */
  vertical-align: -27%;
  margin: 0;
  float: none; /* Override hangout live icon's float left */
  display: inline-block; /* For hangout live icon */
}

.gpme-snippet {
  white-space: nowrap;
}

/*
 * Comment counter
 */

.gpme-comment-count-container {
  float: right;
  color: #999;
  height: 20px;
}
.gpme-comment-count-container:not(.gpme-comment-count-nohilite):hover {
  box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.7);
  -webkit-box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.7); 
  -moz-box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.7); 
}

/* Overrides injectCss(); add div just for higher specificity. */
div.gpme-comment-count-container > .gpme-comment-count-bg {
  top: 0;
  right: 4px; /* Must match gpme-title-folded's padding */
}
/* In commentbar this is different because of the nature of the top-margin
 * which has to be -1px for comments to overwrite that line
 */
.gpme-comments-title-folded > div.gpme-comment-count-container > .gpme-comment-count-bg {
  top: 2px;
}


/* Overrides injectCss(); add div just for higher specificity. */
div.gpme-comment-count-container > .gpme-comment-count-fg {
  height: 21px;
  line-height: 21px;
}

/*
 * Preview
 * :not(.vp) means not muted
 */

.gpme-preview-triangle {
  display: none;
}

.gpme-folded:not(.vp) .gpme-preview-triangle {
  display: inline;
  position: absolute;
  left: -16px;
  top: 20px; /* -top of wrapper */
  height: 30px;
  width: 17px;
}

.gpme-folded:not(.vp) .Oi { /* Context menu button */
  position: absolute;
  margin: 0;
  right: 2px;
  top: 3px;
  float:none;
  background-color: white;
/*  margin-right: -13px; /* Gained 44-13=31 px */
}
.gpme-folded:not(.vp) .yp { /* context menu */
  z-index: 11;
}

.gpme-folded:not(.vp) .gpme-post-wrapper {
  position: absolute;
  left: 432px; /* (31+60+26) + 137 shrinking + 195 width of sidebar - 17 slack; overridden dynamically */
  top: -20px; /* overridden dynamically */
  z-index: 10;
  width: 326px; /* OUTDATED: 574-(31+60+32) - 137 shrinking*/
  padding: 6px 0 6px 8px; /* Gained (21-8)*2=26px; actually, now moved the 8px to .a-f-i-p's padding-right */
  background: white;
  outline: 1px solid #CCC;
  box-shadow: 0 4px 16px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.4);
}

.gpme-folded:not(.vp) .gpme-post-wrapper > .zh { /* Post content */
  margin-left: 0; /* Gained 60px */
  margin-right: 0; /* OUTDATED: Gained 44-13=31 px */
  padding-right: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* From Google News */
.gpme-folded:not(.vp) .gpme-post-wrapper > .zh::-webkit-scrollbar {
  width: 8px;
  background: transparent;
  overflow: visible;
}
.gpme-folded:not(.vp) .gpme-post-wrapper > .zh::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.gpme-folded:not(.vp) .gpme-post-wrapper.gpme-hover > .zh::-webkit-scrollbar-thumb {
  background-color: #CCC;
}
.gpme-folded:not(.vp) .zh::-webkit-scrollbar-button {
  height: 7px;
  display: block;
  background-color: transparent;
}

.gpme-folded:not(.vp) .gpme-post-wrapper .Uy /* Title */{
  margin-right: 5px;
}

.gpme-folded:not(.vp) .gpme-post-wrapper .gpr_tools { /* Google Plus Reply+ */
  display: none;
}

/* Shrink images to fit preview */
/* Album photo (O-F-Nf-la)
 * https://plus.google.com/103450266544747516806/posts/f8RKcEssKwL [limited]
 * or Youtube image preview (O-F-Ja)
 */ 
.gpme-folded:not(.vp) .gpme-post-wrapper div.O-F-X {
  height: auto !important; /* Overrides inline height */
}
.gpme-folded:not(.vp) .gpme-post-wrapper img {
  max-width: 100%; /* Resizes image */
}

.gpme-link-comment {
  display: none
}
.gpme-folded:not(.vp) .gpme-post-wrapper .gpme-link-comment:not(.Uk) /* not fake input */ { /* Link */
  display: inline
}
.gpme-preview-enh .gpme-post-wrapper .Uk.gpme-link-comment { /* Fake input -- my copy */
  display: block
}
.gpme-preview-enh .gpme-post-wrapper .Uk:not(.gpme-link-comment) { /* Fake input -- original */
  display: none
}
/* NOTE: Replies and More incorrectly duplicates the non-style wf class -- should have only copied d-k,
 * but this makes it easier for us anyway */
.gpme-folded:not(.vp) .gpme-post-wrapper .gpme-link-comment + .wf /* Comment -> Reply to Author */,
.gpme-folded:not(.vp) .gpme-post-wrapper .gpme-link-comment + .Uk /* Add a comment... */ {
  display: none
}

.gpme-folded:not(.vp) .a-f-i-Jf-Om { /* FIXME: what's this? */
  margin-left: 0;
  margin-right: -13px;
}

/*
 * Commentbar
 */

/* Hide in preview */
.gpme-folded:not(.vp) .gpme-commentbar {
  display: none;
}

.gpme-comments-title-unfolded {
  float: left;
  margin-left: -12px;
  margin-top: -1px; /* To align with line above */
  position: relative; /* So that gpme-comments-fold-icon-unfolded-bottom can find the bottom */
  width: 10px;
  height: 50px; /* Dynamically overridden */
  min-height: 24px; /* Constrain slideUp() */
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
}
.gpme-comments-title-folded {
  margin-top: -1px; /* To overwrite line above */
  padding: 2px 4px 0 4px;
  height: 24px;
  position: relative;
}
.gpme-comments-title-folded > div {
  white-space: nowrap;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gpme-comments-folded .gpme-comments-title-unfolded {
  display:none
}
.gpme-comments-unfolded .gpme-comments-title-folded {
  display:none
}

/*
 * Inside unfolded comment bar
 */


.gpme-comments-unfolded .gpme-comments-title {
  display: none;
}

.gpme-comments-unfolded .gpme-comments-fold-icon-unfolded-top {
  padding: 4px 0;
}
.gpme-comments-unfolded .gpme-comments-fold-icon-unfolded-bottom {
  padding: 4px 0;
  position: absolute;
  bottom: 0;
}

/*
 * Inside folded comment bar
 */

.gpme-comments-folded:not(.vp) .gpme-comments-fold-icon-unfolded-top {
  display: none;
}
.gpme-comments-folded:not(.vp) .gpme-comments-fold-icon-unfolded-bottom {
  display: none;
}

/*
 * Bottombar
 */

.gpme-bottombar {
  margin: 2px -21px -16px -21px; /* Break out of the paddings */
}
.gpme-bottombar .gpme-title-unfolded {
  height: 12px;
}

/*
 * Compatibility with other extensions
 */

/* G+ Tweaks */
.gpme-enh .bcGTweaksMute {
  top: 18px;
}

/* Adhik */
.gpme-folded:not(.vp) .ea-S-A /* FIXME */ {
  margin-right: 0; /* Overrides 20px */
}
