/*
 * Filename:         gpme.css
 * More info, see:   extension.js
 *
 * Web:              http://huyz.us/google-plus-me/
 * Source:           https://github.com/huyz/google-plus-me
 * Author:           Huy Z  http://huyz.us/
 */


/*
 * The entire post item
 */

.gpme-folded.a-f-i {
  padding-bottom: 0;
}

/* Selected post; needs to be highly selective */
.gpme-folded.a-f-i.a-f-oi-Ai {
  border-bottom: none; /* This also shortens the left blue border */
  margin-bottom: 5px; /* 1 more than margin-bottm of ".gpme-titlebar > div" to replace deleted border */
}

/*
 * The titlebar
 */

.gpme-titlebar {
  margin: -16px -19px auto -21px;
}

/* Muted post */
.a-f-i-za .gpme-titlebar { /* Candidates: a-f-i-za a-f-i-Fb-Un */
  margin: 0;
  display: none;
}
.a-f-i-za .a-f-i-Fb-L {
  margin-bottom: 5px;
}

.gpme-folded .gpme-titlebar {
}

.gpme-titlebar > div {
  width: 100%;
  height: 14px;
  margin-bottom: 4px;
}

.gpme-folded .gpme-titlebar > div {
  height: 24px;
}

.tk3N6e-e-vj:hover {
  cursor: pointer;
}
.tk3N6e-e-vj:hover .gpme-fold-icon {
  color: #333333;
}

/*
 * Inside unfolded title bar
 */

.gpme-fold-icon.gpme-fold-icon-unfolded-left {
  padding: 0 4px;
  margin-top: -4px;
  float: left;
}
.gpme-fold-icon.gpme-fold-icon-unfolded-right {
  padding: 0 5px;
  margin-top: -4px;
  float: right;
}
.gpme-folded .gpme-fold-icon-unfolded-left {
  display: none;
}
.gpme-folded .gpme-fold-icon-unfolded-right {
  display: none;
}

/*
 * Title: inside folded title bar
 */

.gpme-title {
  margin-top: 2px;
  padding: 0 6px 0 6px;
  display: none;
  position: relative;
}

.gpme-folded .gpme-title {
  display: block;
}

.gpme-fold-icon {
  float: left;
  font-size: 10px;
  line-height: 22px;
  margin: 0 5px 0 3px;
  color: #CCCCCC;
}

.gpme-title > .gZgCtb {
  white-space: nowrap;
  line-height: 22px;
}

.gpme-title > .gZgCtb img {
  height: 20px;
  width: 20px;
  margin: 0 5px 0 0;
}

/* Non-profile images are inline, not floating */
.gpme-title > .gZgCtb > img {
  vertical-align: -30%;
  float: none;
  width: auto;
  opacity: 0.4;
}

/* Injected mobile/checkin icons */
.gpme-title > .gZgCtb > .n-Wa-q.n-Wa-q-Dc-X {
  margin: 0 -4px 0 5px;
  vertical-align: -30%
}

.gpme-title > .gZgCtb > .a-f-i-yj {
  margin: 0 3px;
}

.gpme-snippet {
  white-space: nowrap;
}

/*
 * Comment counter
 */

.gpme-comment-count-container {
  float: right;
  color: #999;
}

/* Overrides injectCss(); add div just for higher specificity. */
div.gpme-comment-count-container .gpme-comment-count-bg {
  top: 0;
  right: 6px;
}

/* Overrides injectCss(); add div just for higher specificity. */
div.gpme-comment-count-container .gpme-comment-count-fg {
  height: 21px;
  line-height: 21px;
}

/*
 * Preview
 * :not(.a-f-i-za) means not muted
 */

.gpme-folded:not(.a-f-i-za) .gpme-post-wrapper .a-f-i-p-U .a-f-i-do, /* User photo */
.gpme-folded:not(.a-f-i-za) .gpme-post-wrapper .a-f-i-p-U .a-lx-i-ie-ms-Ha-q {
  display: none;
}
.gpme-folded:not(.a-f-i-za) .a-f-i-Ia-D-h { /* Context menu button */
  margin-right: -13px; /* Gained 44-13=31 px */
}
.gpme-folded:not(.a-f-i-za) .a-f-i-Ia-D { /* context menu */
  z-index: 11;
}
.gpme-folded:not(.a-f-i-za) .a-f-i-p { /* Post content */
  margin-left: 0; /* Gained 60px */
  margin-right: 13px; /* Gained 44-13=31 px */
}

.gpme-folded:not(.a-f-i-za) .gpme-post-wrapper {
  position: absolute;
  left: 432px; /* (31+60+26) + 137 shrinking + 195 width of sidebar - 17 slack; overridden dynamically */
  top: -20px;
  z-index: 10;
  width: 313px; /* 574-(31+60+32) - 137 shrinking*/
  padding: 6px 8px; /* Gained (21-8)*2=26px */
  /*max-height: 1000px;*/
  overflow-x: visible;
  overflow-y: visible;
  background: white;
  outline: 1px solid #CCC;
  box-shadow: 0 4px 16px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.4);
}

.gpme-preview-triangle {
  display: none;
}

.gpme-folded:not(.a-f-i-za) .gpme-preview-triangle {
  display: inline;
  position: absolute;
  left: -16px;
  top: 20px; /* -top of wrapper */
  height: 30px;
  width: 17px;
}

.gpme-folded:not(.a-f-i-za) .gpme-post-wrapper img {
  max-width: 297px; /* 313 gpme-post-wrapper - (8*2 padding) */
}

/*
 * Commentbar
 */

.gpme-commentbar {
  margin-right: 2px;
}

.gpme-commentbar > div {
  margin-bottom: 4px;
  position: relative;
}

.gpme-comments-unfolded .gpme-commentbar > div {
  float: left;
  margin-top: -1px; /* Like .a-f-i-Xb */
  margin-left: -12px;
  width: 10px;
  height: 50px; /* Dynamically overridden */
  min-height: 24px; /* Constrain slideUp() */
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
}

.gpme-comments-folded .gpme-commentbar > div {
  /*margin: 0;*/
  width: 100%;
  height: 24px;
}

/*
 * Comment bar
 */

.gpme-folded .gpme-commentbar {
  display: none;
}

/*
 * Unfolded comment bar
 */

.gpme-folded .gpme-commentbar {
  display: none;
}

.gpme-comments-unfolded .gpme-comments-title {
  display: none;
}

.gpme-comments-unfolded .gpme-comments-fold-icon-unfolded-top {
  padding: 4px 0;
}
.gpme-comments-unfolded .gpme-comments-fold-icon-unfolded-bottom {
  padding: 4px 0;
  position: absolute;
  bottom: 0;
}

/*
 * Folded comment bar
 */

.gpme-comments-folded .gpme-comments-fold-icon-unfolded-top {
  display: none;
}
.gpme-comments-folded .gpme-comments-fold-icon-unfolded-bottom {
  display: none;
}

.gpme-comments-title {
  display: none;
  margin-top: 2px;
  padding: 0 6px 0 6px;
  line-height: 19px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gpme-comments-folded .gpme-comments-title {
  display: block;
}

