/*
 * Filename:         gpme.css
 * More info, see:   gpme.js
 *
 * Web:              http://huyz.zh/google-plus-me/
 * Source:           https://github.com/huyz/google-plus-me
 * Author:           Huy Z  http://huyz.zh/
 */


/*
 * The entire post item
 */

.gpme-folded.tf {
  padding-bottom: 0;
}

/* Selected post; needs to be highly selective */
.gpme-folded.tf.Lj {
  border-bottom: 1px solid transparent; /* Don't mess with margin-bottom or padding-bottom, as that's incompatible with Usability Boost */
}

/*
 * Common to titlebar and commentbar
 */

.gpme-fold-icon {
  float: left;
  font-size: 10px;
  line-height: 22px;
  color: #CCCCCC;
}
.gpme-title-folded .gpme-fold-icon,
.gpme-comments-title-folded .gpme-fold-icon { /* We don't that to apply to side commentbar */
  margin: 0 5px 0 3px;
}

/*
 * The titlebar
 */

.gpme-titlebar {
  margin: -16px -21px 4px -21px; /* Break out of the paddings */
}
/* Unread posts need to have light background */
.gpme-folded:not(.gpme-read) .gpme-titlebar {
  border: 1px solid rgba(0,0,0,0.2);
  background-image: -webkit-linear-gradient(top,#fbfbfb,#f7f7f7);
  background-image: -moz-linear-gradient(top,#fbfbfb,#f7f7f7);
  background-image: -ms-linear-gradient(top,#fbfbfb,#f7f7f7);
  background-image: -o-linear-gradient(top,#fbfbfb,#f7f7f7);
  background-image: linear-gradient(top,#fbfbfb,#f7f7f7);
}

/* Unread posts need to have dark text color */
.gpme-enh:not(.gpme-read) .gpme-title-clickarea > * { /* Star so that even dashes get bolded, in case there is no snippet */
  color: black;
}

/* Muted post */
.vp { /* Matches .gpme-folded.tf.Lj */
  border-bottom: none;
  margin-bottom: 5px;
}
.vp .gpme-titlebar {
  margin: 0;
  display: none;
}
.vp .pg { /* Item guts for muted post */
  margin-bottom: 5px;
}

.gpme-title-unfolded {
  height: 14px;
}
.gpme-title-folded {
  margin-top: 2px;
  padding: 0 4px; /* Must match gpme-comment-count-bg's right */
  position: relative;
}

.gpme-folded .gpme-title-unfolded {
  display: none
}
.gpme-unfolded .gpme-title-folded {
  display: none;
}

/* Color fold icons depending on importance */
/*.gpme-title-folded > .gpme-fold-icon {*/
  /*visibility: hidden;*/
/*}*/
/*.gpme-title-folded.gpme-perms-limited > .gpme-fold-icon {*/
  /*visibility: visible;*/
  /*color: #3d9400; [> color from hangout button .j-e-Da <]*/
/*}*/
.gpme-circle-icon {
  height: 20px;
  width: 20px;
}
.gpme-title-folded.gpme-perms-limited .gpme-circle-icon {
  background: url('chrome-extension://__MSG_@@extension_id__/icons/circle_orange13.png') no-repeat;
  background-position: 4px 5px;
  background-size: 50%;
  opacity: 0.6;
}

.gpme-titlebar:hover, /* Like C_FEEDBACK */
.gpme-commentbar:hover {
  cursor: pointer;
}
.gpme-titlebar:hover /* Like C_FEEDBACK */ .gpme-fold-icon,
.gpme-commentbar:hover .gpme-fold.icon {
  color: #333333;
}

/*
 * Inside unfolded title bar
 */

.gpme-fold-icon.gpme-fold-icon-unfolded-left {
  padding: 0 6px;
  margin-top: -4px;
  float: left;
}
.gpme-fold-icon.gpme-fold-icon-unfolded-right {
  padding: 0 7px;
  margin-top: -4px;
  float: right;
}
.gpme-folded .gpme-fold-icon-unfolded-left {
  display: none;
}
.gpme-folded .gpme-fold-icon-unfolded-right {
  display: none;
}

/*
 * Title: inside folded title bar
 */

.gpme-title-folded > div /* .gZgCtb */ {
  white-space: nowrap;
  line-height: 22px;
  /* Copied from .gZgCtb, so that it works for Start G+ as well */
  overflow: hidden;
  text-overflow: ellipsis;
}

.gpme-title-folded img {
  height: 20px; 
  float: none; /* User photos must be inline, not floating */
  vertical-align: -27%; /* so it doesn't shift the text down */
} 
/* User photos */
.gpme-title-folded .gpme-title-sender img {
  width: 20px;
  margin: 0 5px 0 0;
} 
/* Other images */
.gpme-title-thumbnails {
  float: right;
  margin-right: 7px;
}
.gpme-title-thumbnails > img {
  margin: 0 0 0 5px;
  max-width: 60px;
  opacity: 0.5;
} 


/* Injected mobile/checkin icons */
div.gpme-title-folded .gpme-title-icons { /* "span" coz need to be more specific than G+ */
  vertical-align: -27%;
  margin: 0;
  float: none; /* Override hangout live icon's float left */
  display: inline-block; /* For hangout live icon */
}

.gpme-snippet {
  white-space: nowrap;
}

/*
 * Right button area
 */

.gpme-button-area {
  float: right;
  height: 20px; /* Must match height of gpme-comment-count-bg or get weird space */
  width: 21px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/* No longer needed, now that red is no longer a button
.gpme-button-area:hover {
  box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.7);
  -webkit-box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.7); 
  -moz-box-shadow: 0 0 5px 1px rgba(128, 128, 128, 0.7); 
}
.gpme-button-area:active {
  box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0.7);
  -webkit-box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0.7); 
  -moz-box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0.7); 
}
*/

.gpme-mute-button {
  /* http://findicons.com/icon/70079/mute */
  background: url('chrome-extension://__MSG_@@extension_id__/icons/mute21.png') no-repeat;
}
.gpme-mark-read-button {
  /* http://findicons.com/icon/267830/checkmark?id=268147 */
  background: url('chrome-extension://__MSG_@@extension_id__/icons/checkmark21.png') no-repeat;
}
.gpme-mute-button,
.gpme-mark-read-button {
  display: none;
}
.gpme-enh.gpme-read .gpme-button-area:not(.gpme-new-comments):hover > .gpme-mute-button,
.gpme-enh:not(.gpme-read) .gpme-button-area:hover > .gpme-mark-read-button,
.gpme-button-area.gpme-new-comments:hover > .gpme-mark-read-button {
  display: block;
  width: 21px;
  height: 20px;
  background-color: #CCC;
}
.gpme-button-area:hover > .gpme-mute-button:active,
.gpme-button-area:hover > .gpme-mark-read-button:active { /* Inset shadow & shift down */
  box-shadow: inset 0 0 3px 1px rgba(128, 128, 128, 0.5);
  -webkit-box-shadow: inset 0 0 3px 1px rgba(128, 128, 128, 0.5);
  -moz-box-shadow: inset 0 0 3px 1px rgba(128, 128, 128, 0.5);
  background-position: 0 1px; 
}

/*
 * Left button area
 */

.gpme-button-area-left { /* To match gpme-button-area */
  float: left;
  height: 20px;
  width: 21px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/*
 * Comment counter
 */

.gpme-comment-count-container.gpme-hide {
  display: none; /* hide if no comments and no highlight */
}

/* Default in case injectCSS() fails:
 * Sometimes this happens with G+ for some reason.  Happened at times when I was reloading a profile page. */
.gpme-comment-count-bg {
  /* Rest from #gbi1a */
  background: url(https://ssl.gstatic.com/gb/images/h_bedf916a.png);
  background-position: 0 -274px;
  position: absolute;
  right: 5px;
  top: 3px;
  height: 20px;
  width: 21px;
}
.gpme-comment-count-nohilite > .gpme-comment-count-bg {
  background-position: -26px -274px; /* From #gbi1a.gbid */
}

/* Overrides injectCss(); add div just for higher specificity. */
div.gpme-comment-count-container > .gpme-comment-count-bg {
  position: static; /* Override the absolute */

  /* Float so that fg can overlap */
  float: right;
  margin-left: -21px; /* So that it doesn't push the fg to the left and keep fg from centering */
}
/* In commentbar this is different because of the nature of the top-margin
 * which has to be -1px for comments to overwrite that line above comments
 */
.gpme-comments-title-folded div.gpme-comment-count-container > .gpme-comment-count-bg {
  top: 2px;
}

/* Default in case injectCSS() fails:
 * Sometimes this happens with G+ for some reason.  Happened at times when I was reloading a profile page. */
.gpme-comment-count-fg {
  text-align: center; /* Inherited from parent #gbgs1 */
  /* Rest from #gbi1 */
  color: #fff;
  display: block;
  font-size: 11px;
  font-weight: bold;
  position: relative;
  width: 21px;
}
.gpme-comment-count-nohilite > .gpme-comment-count-fg {
  color: #999; /* From #gbi1.gbids */
}
/* Overrides injectCss(); add div just for higher specificity. */
div.gpme-comment-count-container > .gpme-comment-count-fg {
  height: 21px;
  line-height: 21px;
}

/* Hides if hovered and not highlighted, to show buttons */
.gpme-button-area:hover > .gpme-comment-count-container.gpme-comment-count-nohilite {
  display:none
}

/* Handle clicks on the highlighted icon */
.gpme-button-area:hover > .gpme-comment-count-container:active > .gpme-comment-count-bg {
  box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.4);
}
.gpme-button-area:hover > .gpme-comment-count-container:active > .gpme-comment-count-fg {
  padding-top: 1px;
}


/*
 * Preview
 * :not(.vp) means not muted
 */

.gpme-preview-triangle {
  display: none;
}

.gpme-folded:not(.vp) .gpme-preview-triangle {
  display: inline;
  position: absolute;
  left: -16px;
  top: 20px; /* -top of wrapper */
  height: 30px;
  width: 17px;
}

.gpme-folded:not(.vp) .Oi { /* Context menu button */
  position: absolute;
  margin: 0;
  right: 2px;
  top: 3px;
  float:none;
  background-color: white;
/*  margin-right: -13px; /* Gained 44-13=31 px */
}
.gpme-folded:not(.vp) .yp { /* context menu */
  z-index: 11;
}

.gpme-folded:not(.vp) .gpme-post-wrapper {
  position: absolute;
  left: 435px; /* (31+60+26) + 137 shrinking + 195 width of sidebar - 20 slack; overridden dynamically */
  top: -20px; /* overridden dynamically */
  z-index: 10;
  width: 323px; /* OUTDATED: 574-(31+60+32) - 137 shrinking*/
  padding: 6px 0 6px 8px; /* Gained (21-8)*2=26px; actually, now moved the 8px to .a-f-i-p's padding-right */
  background: white;
  outline: 1px solid #CCC;
  box-shadow: 0 4px 16px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.4);
}

.gpme-folded:not(.vp) .gpme-post-wrapper > .zh { /* Post content */
  margin-left: 0; /* Gained 60px */
  margin-right: 0; /* OUTDATED: Gained 44-13=31 px */
  padding-right: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* From Google News */
.gpme-folded:not(.vp) .gpme-post-wrapper > .zh::-webkit-scrollbar {
  width: 8px;
  background: transparent;
  overflow: visible;
}
.gpme-folded:not(.vp) .gpme-post-wrapper > .zh::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.gpme-folded:not(.vp) .gpme-post-wrapper.gpme-hover > .zh::-webkit-scrollbar-thumb {
  background-color: #CCC;
}
.gpme-folded:not(.vp) .zh::-webkit-scrollbar-button {
  height: 7px;
  display: block;
  background-color: transparent;
}

.gpme-folded:not(.vp) .gpme-post-wrapper .Uy /* Title */{
  margin-right: 5px;
}

.gpme-folded:not(.vp) .gpme-post-wrapper .gpr_tools { /* Google Plus Reply+ */
  display: none;
}

/* Shrink images to fit preview */
/* Album photo (O-F-Nf-la)
 * https://plus.google.com/103450266544747516806/posts/f8RKcEssKwL [limited]
 * or Youtube image preview (O-F-Ja)
 */ 
.gpme-folded:not(.vp) .gpme-post-wrapper div.O-F-X {
  height: auto !important; /* Overrides inline height */
}
.gpme-folded:not(.vp) .gpme-post-wrapper img {
  max-width: 100%; /* Resizes image */
}

.gpme-link-comment {
  display: none
}
.gpme-folded:not(.vp) .gpme-post-wrapper .gpme-link-comment:not(.Uk) /* not fake input */ { /* Link */
  display: inline
}
.gpme-preview-enh .gpme-post-wrapper .Uk.gpme-link-comment { /* Fake input -- my copy */
  display: block
}
.gpme-preview-enh .gpme-post-wrapper .Uk:not(.gpme-link-comment) { /* Fake input -- original */
  display: none
}
/* NOTE: Replies and More incorrectly duplicates the non-style wf class -- should have only copied d-k,
 * but this makes it easier for us anyway */
.gpme-folded:not(.vp) .gpme-post-wrapper .gpme-link-comment + .wf /* Comment -> Reply to Author */,
.gpme-folded:not(.vp) .gpme-post-wrapper .gpme-link-comment + .Uk /* Add a comment... */ {
  display: none
}

.gpme-folded:not(.vp) .a-f-i-Jf-Om { /* FIXME: what's this? */
  margin-left: 0;
  margin-right: -13px;
}

/*
 * Commentbar
 */

/* Hide in preview */
.gpme-folded:not(.vp) .gpme-commentbar {
  display: none;
}

.gpme-comments-title-unfolded {
  float: left;
  margin-left: -12px;
  margin-top: -1px; /* To align with line above */
  position: relative; /* So that gpme-comments-fold-icon-unfolded-bottom can find the bottom */
  width: 10px;
  height: 50px; /* Dynamically overridden */
  min-height: 24px; /* Constrain slideUp() */
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
}
.gpme-comments-title-folded {
  margin-top: -1px; /* To overwrite line above */
  padding: 2px 4px 0 4px;
  height: 24px;
  position: relative;
}
.gpme-comments-title-folded > div {
  white-space: nowrap;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gpme-comments-folded .gpme-comments-title-unfolded {
  display:none
}
.gpme-comments-unfolded .gpme-comments-title-folded {
  display:none
}

/*
 * Inside unfolded comment bar
 */


.gpme-comments-unfolded .gpme-comments-title {
  display: none;
}

.gpme-comments-unfolded .gpme-comments-fold-icon-unfolded-top {
  padding: 4px 0;
}
.gpme-comments-unfolded .gpme-comments-fold-icon-unfolded-bottom {
  padding: 4px 0;
  position: absolute;
  bottom: 0;
}

/*
 * Inside folded comment bar
 */

.gpme-comments-folded:not(.vp) .gpme-comments-fold-icon-unfolded-top {
  display: none;
}
.gpme-comments-folded:not(.vp) .gpme-comments-fold-icon-unfolded-bottom {
  display: none;
}

/*
 * Bottombar
 */

div.gpme-bottombar { /* div for higher specificity */
  margin: 2px -21px -16px -21px; /* Break out of the paddings */
  border-top: 1px solid rgba(0, 0, 0, 0.01); /* Make top edge lighter than C_FEEDBACK */
}
div.gpme-bottombar.gpme-hover:hover { /* Like C_FEEDBACK */
  cursor: pointer;
}
.gpme-folded:not(.vp) div.gpme-bottombar {
  display: none;
}

.gpme-bottombar .gpme-title-unfolded {
  height: 12px;
}
.gpme-bottombar .gpme-fold-icon {
  line-height: 20px; /* To properly place from top of parent */
  margin-bottom: -2px; /* So that it doesn't push next post down, coz 20px > 16px */
}

/*
 * Content Pane buttons
 */

.gpme-content-buttons {
  float: right;
}

.gpme-content-button {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-left: 5px;
  opacity: 0.5;
}
.gpme-content-button:hover {
  cursor: pointer;
  box-shadow: 0 0 2px 0 rgba(128, 128, 128, 0.7);
  -webkit-box-shadow: 0 0 2px 0 rgba(128, 128, 128, 0.7); 
  -moz-box-shadow: 0 0 2px 0 rgba(128, 128, 128, 0.7); 
  opacity: 1;
}
.gpme-content-button:active { /* Inset shadow & shift down */
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  margin-top: 1px;
  margin-bottom: -1px;
  opacity: 1;
}

/* List mode button */
.gpme-button-mark-all-read {
  display: none
}
.gpme-list-mode > .gpme-button-mark-all-read {
  display: inline-block;
  background: url('chrome-extension://__MSG_@@extension_id__/icons/checkmarks16.png') no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* Expanded mode buttons */
.gpme-button-expand-or-collapse-all {
  display: none;
}
.gpme-expanded-mode > .gpme-button-expand-or-collapse-all {
  display: block;
}
.gpme-button-expand-all {
  background: url(https://mail.google.com/mail/u/0/?ui=2&view=dim&iv=jby7jc4gx732&it=ic) no-repeat -40px -60px;
  display: none;
}
.gpme-button-collapse-all {
  background: url(https://mail.google.com/mail/u/0/?ui=2&view=dim&iv=jby7jc4gx732&it=ic) no-repeat -60px -60px;
  display: inline-block;
}
.gpme-button-expand-all {
  background: url(https://mail.google.com/mail/u/0/?ui=2&view=dim&iv=jby7jc4gx732&it=ic) no-repeat -40px -60px;
  display: none;
}
.gpme-button-expand-or-collapse-all.gpme-select-expand-all .gpme-button-collapse-all {
  display: none;
}
.gpme-button-expand-or-collapse-all.gpme-select-expand-all .gpme-button-expand-all {
  display: inline-block;
}

/*
 * Compatibility with other extensions
 */

/* G+ Tweaks */
.gpme-enh .bcGTweaksMute {
  top: 18px;
}
/* G+ Tweaks 2011-08-12 */
#content .a-m-C-S.a-C.a-m-C-wb-Qb .a-m-K-S.a-m-K-S-Rh-wb > div:first-child > div > div.gpme-content-buttons {
  width: auto; /* Override width: 100% */
}
#content .a-m-C-S.a-C.a-m-C-wb-Qb .a-m-K-S.a-m-K-S-Rh-wb > div:first-child > div:first-child {
  width: auto; /* Override width: 100% */
}

/* Usability Boost 2011-08-12 */
.gpme-titlebar .gpme-sep {
  visibility: visible !important;
}
.gpme-titlebar .gpme-sep > span {
  display: none;
}

/* Adhik */
.gpme-folded:not(.vp) .ea-S-A /* FIXME */ {
  margin-right: 0; /* Overrides 20px */
}
